body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;

}

.action-buttons button{
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.search-form{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.card{
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    margin-bottom: 1rem;
}
.card .Pending-task, .card .Completed-task{
    cursor: grabbing;
}
.task-list,.new-task{
    width: 20rem;
}